$font-stack: 'Oxygen', 'Lato', sans-serif;
$primary-color: rgb(33, 42, 71);
$secondary-color: rgb(247, 224, 197);
$bg-color: rgb(255, 255, 255);

// set columns:
@mixin columns($num) {
    columns: $num;
    -webkit-columns: $num;
    -moz-columns: $num;
    -o-columns: $num;
}

// transform transition:
@mixin transition($prop, $duration) {
    transition: $prop, 1s;
    -webkit-transition: $prop, #{$duration}s;
    -moz-transition: $prop, #{$duration}s;
    -o-transition: $prop, #{$duration}s;
}